# Core
fastapi[all]                  # FastAPI with all optional extras
uvicorn                       # ASGI server to run FastAPI
asyncpg                       # Asynchronous PostgreSQL driver
psycopg2

# Testing
pytest                        # Main testing framework
pytest-asyncio                # Pytest support for asynchronous code
pytest-cov                    # Test coverage report tool
pytest-mock									# Mock test
httpx                         # For FastAPI's TestClient

alembic												# Alembic is a lightweight database migration tool 

# Other useful dependencies (add or remove as needed)
